DATABASE_URL="postgresql://postgres:postgres@localhost:5432/pl2g8?schema=public"
ENABLE_MASTER_IT_BOOTSTRAP="true"
MASTER_IT_USER_ID="it.master"
MASTER_IT_PASSWORD="ItMaster1!"
INTERNAL_SESSION_TTL_HOURS="12"
TEMPORARILY_DISABLED_FEATURES=""
